.contact-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: oklab(100% 0 -0.00011 / 0.975);
  gap: 0rem;
}

.contact-box {
  width: 90%;
  max-width: 600px;
  background-color: lab(96.6% -1.1 -2.03);
  border: 1px solid #ccc; 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.social-box {
  width: 90%;             /* نفس عرض البوكس الأول */
  max-width: 600px;       /* نفس max-width للتماشي مع البوكس الأول */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-color: lab(96.6% -1.1 -2.03);
  border: 1px solid #ccc; 
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin: 0 auto;         /* يضمن توسيط البوكس */
}

.social-box a {
  color: #333;
  transition: transform 0.2s, color 0.2s;
}

.social-box a:hover {
  color: #ced4d7;
  transform: scale(1.2);
}
