<div class="contact-container">
  <div class="contact-box">
    <h1>Contact</h1> 
    <p>I can be reached at the following mail: <b>nimaterawi@gmail.com</b></p>
     <p> Feel Free to Contact Me on any of the following Platforms</p>
</div>
</div>
<!-- Contact Form Linked with E-mail  -->





<!--   البلاتفورم تبعت السوشال ميديا-->
   <div class="social-box">
    <a href="https://www.facebook.com/nima.khalil.2025" target="_blank">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="https://github.com/Nima-12-7" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/feed/" target="_blank">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </div>



    
