<div class="home-container">

  <!-- About Me -->
  <div class="home-box">
    <h1> About Me</h1>
    <img src="assets/Nima.jpg" alt="My Photo" class="profile-pic">
   <p> 
    Cybersecurity Analyst with a Master's in Cybersecurity 
    and hands-on experience in 
     threat detection, log analysis, 
     and Python scripting. 
     Passionate about automating SOC 
     tasks and enhancing incident response strategies. 
   </p>
  </div>
<!-- Card View -->

<div class="col-lg shadow border m-1">
  <div class="text-center">
    <div class="home-box">
      <h1>Cybersecurity Skills</h1> 
      <ul class="skills-list">
        <li>Threat Detection & Monitoring</li>
        <li>Log Analysis</li>
        <li>SIEM Tools (Splunk)</li>
        <li>Python Scripting</li>
        <li>FTK Imager, Autopsy, Maltego, Wireshark</li>
        <li>Firewall Configuration (FortiGate)</li>
        <li>Data Recovery & Imaging</li>
        <li>Reporting & Documentation</li>
        <li>Firewall & IDS/IPS Monitoring</li>
        <li>Computer and Memory Forinsics </li>
        <li>Excellent communication & teamwork skills</li>
        <li>Malware Analysis</li>
      </ul>
    </div>
  </div>
</div>
